.button {
  cursor: pointer;
  background: transparent;
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: var(--greyscale-white);
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, var(--main-colors-blue), var(--main-colors-purple ));
  border-image-slice: 1%;
}

.button:hover {
  background: linear-gradient(90deg, var(--main-colors-blue), var(--main-colors-purple ));
}

.btn_gradient {
  cursor: pointer;
  background: linear-gradient(90deg, var(--main-colors-blue) 0%, var(--main-colors-purple) 100%);
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, var(--main-colors-blue), var(--main-colors-purple ));
  border-image-slice: 1%;
  padding: 18px 38px;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: var(--greyscale-white);
  transition: all 0.6s;
}

.btn_gradient:hover {
  background: transparent;
}

.btn_burger {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, var(--main-colors-blue), var(--main-colors-purple ));
  border-image-slice: 1%;
  padding: 9px;
  color: var(--greyscale-white);
  width: 32px;
  height: 32px;
}

.btn_burger div {
  height: 1px;
  background: var(--greyscale-white);
  margin-bottom: 2px;
}

.btn_burger > div:nth-child(1) {
  width: 10px;
}

.btn_burger > div:nth-child(2) {
  width: 7px;
}

.btn_burger > div:nth-child(3) {
  width: 4px;
  margin-bottom: 0;
}


@media (max-width: 1199px) {
  .btn_burger {
    display: flex;
  }
}