.button {
  cursor: pointer;
  background: transparent;
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: var(--greyscale-white);
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, var(--main-colors-blue), var(--main-colors-purple ));
  border-image-slice: 1%;
}

.button:hover {
  background: linear-gradient(90deg, var(--main-colors-blue), var(--main-colors-purple ));
}

.btn_gradient {
  cursor: pointer;
  background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, var(--main-colors-blue), var(--main-colors-purple ));
  border-image-slice: 1%;
  padding: 18px 38px;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: var(--greyscale-white);
  transition: all 0.6s;
}

.btn_gradient:hover {
  background: transparent;
}