.header {
  padding: 31px 0px;
  width: 100%;
  position: absolute;
  z-index: 300;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header_button {
  padding: 12px 20px;
  width: 126px;
  height: 52px;
}


@media (max-width: 1199px) {
  .header_button {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 42px 0;
  }
}