.hero {
  position: relative;
  overflow: hidden;
}

.hero_image_right {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 736px;
  width: 100%;
  height: 358px;
  background-image: url('../icons/hero-image-1.svg');
  background-repeat: no-repeat;
  z-index: 20;
}

.hero_container {
  position: relative;
}

.hero_wrapper {
  padding-top: 127px;
  padding-bottom: 60px;
}

.hero_content_wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  z-index: 10;
}

.hero_image_left {
  position: absolute;
  height: 721px;
  right: 20%;
  bottom: 15%;
  z-index: 3;
}

.hero_content_video {
  background-image: url('../images/hero-video.png');
  background-image: -webkit-image-set('../images/hero-video.avif' type('image/avif'), '../images/hero-video.webp' type('image/webp'));
  background-image: image-set('../images/hero-video.avif' type('image/avif'), '../images/hero-video.webp' type('image/webp'));
}

.hero_content {
  padding-top: 74px;
  padding-bottom: 66px;
  position: relative;
  z-index: 2;
  max-width: 550px;
}

.hero_title {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: normal;
  color: var(--greyscale-white);
  margin-bottom: 12px;
}

.hero_text {
  font-size: 16px;
  line-height: 175%;
  font-weight: 300;
  color: var(--greyscale-grey-2);
  margin-bottom: 32px;
  max-width: 446px;
}

.hero_btn {
  margin-bottom: 42px;
}

.hero_content_box {
  display: flex;
  justify-content: space-between;
}

.hero_content_client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  max-width: 278px;
}

.hero_content_client_list {
  display: flex;
}

.hero_content_client_item {
  max-width: 51px;
  height: 51px;
  overflow: hidden;
  border-radius: 100%;
}

.hero_content_client_item:nth-child(2),
.hero_content_client_item:last-child {
  margin-left: -13px;
}

.hero_content_client_text_box {
  position: relative;
}

.hero_content_client_text {
  font-size: 16px;
  line-height: 175%;
  font-weight: 600;
  color: var(--greyscale-white);
}

.hero_content_client_text span {
  font-weight: 300;
  color: var(--greyscale-grey-2);
}

.hero_content_client_text_box img {
  position: absolute;
  left: -7px;
  bottom: 1px;
}

.hero_image_wrapper {
  width: 526px;
  height: 626px;
  position: relative;
}

.hero_image_wrapper::after {
  content: '';
  position: absolute;
  background-image: url('../images/light.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 866px;
  height: 760px;
  right: -40px;
  filter: blur(20px);
  top: 0px;
}


.hero_image {
  position: relative;
  z-index: 20;
  height: auto;
  width: 526px;
}

.hero_steps_list {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  background-color: var(--greyscale-black-80);
  padding: 42px 63px 53px;
  position: relative;
  z-index: 3;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #66666F 0%, #292936 100%);
  border-image-slice: 1%;
}

.hero_steps_item {
  width: 325px;
}

.hero_steps_item_img {
  width: 70px;
  height: 70px;
  margin-bottom: 42px;
}

.hero_steps_item_title {
  font-weight: 400;
  font-size: 20px;
  color: var(--greyscale-white);
  margin-bottom: 12px;
}

.hero_steps_item_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 200%;
  color: var(--greyscale-grey-1);
}


@media (max-width: 1199px) {
  .hero_image_right {
    background-image: url('../icons/hero-image-430px.svg');
    width: 430px;
    height: 354px;
  }

  .hero_content_wrapper {
    flex-direction: column;
  }

  .hero_content {
    position: static;
  }

  .hero_steps_list {
    flex-direction: column;
    align-items: center;
  }

  .hero_image_wrapper {
    height: 422px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .hero_image {
    width: 354px;
    height: 422px;
    right: -40%;
  }

  .hero_image_wrapper::after {
    width: 70%;
    height: 100%;
    filter: blur(120px);
  }

  .hero_image_left {
    bottom: 40%;
    right: -16%;
  }

  .hero_content_video {
    position: absolute;
    bottom: 18%;
  }
}


@media (max-width: 767px) {
  .hero {
    padding-bottom: 50px;
  }

  .hero_wrapper {
    padding-top: 154px;
    padding-bottom: 0;
  }

  .hero_content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero_title {
    font-size: 48px;
  }

  .hero_btn {
    margin-bottom: 32px;
  }

  .hero_image_left {
    bottom: 50%;
    right: -500px;
  }
}


@media (max-width: 430px) {
  .hero_steps_item {
    max-width: 100%;
  }
}