.video_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 123px;
  width: 196px;
  height: 128px;
  background-color: var(--video-bg-color);
  background-position: center bottom;
}

.video_box_btn {
  width: 28px;
  height: 28px;
  cursor: pointer;
}